@import "bootstrap/less/bootstrap.less";


.logo img {
    height: 50px;
    margin: -15px 0;
}

.wrapper {
    padding-top: 170px;
}

#recipes a {
    text-decoration: none;
    color: #222;
}

#recipes img {
    height: 200px;
}

.cart {
    border: 1px solid #aaa;
    display: none;
}

.cart-open .cart {
    display: block;
}

@media (min-width: 768px) {
    .cart {
        height: calc(100vh - 50px);
        width: 250px;
        border-left: 1px solid #aaa;
        position: fixed;
        right: 0;
        top: 50px;

        padding: 15px;
    }

    .wrapper {
        padding-top: 70px;
    }

    .cart-open .content {
        margin-right: 260px;
        
    }
}
